<!--Project Wedding Gram App -->
<!DOCTYPE html>
<html lang="en" ng-app="ListApp">
<head>
    <meta charset="UTF-8">
    <title>Guest List </title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
	<!-- custom style sheet  -->
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/bootstrap/dist/css/bootstrap.css"></script>
	<script src="/angular/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
	<!--<style type="text/css">
        .container{border: 1px solid green;}
        /*.container[class*='container-']{border:2px solid blue;}*/
        .row{border: 2px dotted red;padding: 10px;}
        .row [class*='col-']{border: 2px dotted blue;padding: 10px;}
    </style> -->
	<script src="/list.js"></script>
</head>
<body ng-controller="ListCtrl as listCtrl">
    <!-- Main div stars  --><div class="container"> 
		<!-- <row1 starts> --><div class="row">  
								<div >
									<div>
									<h4><em>Wedding Guest List</em></h4>
									</div>
								</div>
		<!-- <row1 ends> -->  </div>
								
		 
		<!-- <row4 starts> --><div class="row">
                        
								<div> 
									<div >
                        			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </div>
                                

                                <table class="table">
                                   <tbody>
					<tr ng-repeat="o in listCtrl.basket">
						<td>{{ o.username }}</td>
						<td>{{ o.email }}</td>
						<td></td>
					
						
					</tr>
				</tbody>
                                </table>
                  			  </div>
								
								<div>
				
								
		<!-- <row4 ends> --></div>
		<!-- <row3.5 start> -->
<div class="row>"
<form name="orderForm" novalidate>

			



		<!-- <row4 starts> --><div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									

							<button class="btn btn-warning" type="button" ng-click="listCtrl.listGuest()">
						<i class="fa fa-refresh fa-spin"></i>
						List
					</button>
					
  <button class="btn btn-warning" type="button" <i class="fa fa-refresh fa-spin"></i onclick="href='/wedding.html'">back</button>
								
								</div>
					
		<!-- <row4 ends> -->  </div>
<hr>
		
	</div> <!-- Main div ends  -->
	



</body>
</html>