<!--Project Wedding Gram App -->
<!DOCTYPE html>

<html lang="en" ng-app="LoginApp">

<head>
    <meta charset="UTF-8">
    <title>Wedding Gram App </title>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <script src="register.js"></script>
</head>

<body ng-controller="LoginCtrl as loginCtrl">
    <div class="container">
        <div class="row">
            <div>
                <img src="/images/logo.jpg" alt="logo.jpg" class="logo">
            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    <code>    {{loginCtrl.status}}</code>
                </p>
                <form method="post" class="my-form" ng-submit="loginCtrl.performLogin()">
                    <div class="my-form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" required placeholder="Please enter email" ng-model="loginCtrl.email">
                    </div>
                    <div class="my-form-group">
                        <label for="username">Name</label>
                        <input id="username" type="text" name="username" required placeholder="Please enter username" ng-model="loginCtrl.username">
                    </div>
                    <div class="my-form-group">
                        <a href="/wedding.html">
                            <input type="submit" value="Add to List">
                        </a>
                    </div>



                   
                </form>
            </div>
          
        </div>
